body{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  background: hsl(212, 45%, 89%);
}

.main{
  margin:150px auto;
  width: 50%;
  padding: 10px;
}
#main-section {
  float: center;
  background-color: #fff;
  width: 230px;
  height: 390px;
  margin: auto;
  padding:30px 20px;
  border: 1px ;
  border-radius: 14px;
}
#main-section h1{
  text-align: center;
  color:  hsl(218, 44%, 22%);
  font-weight:bold;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;

}
#main-section p{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  color: hsl(220, 15%, 55%);
  line-height: 1.4em;
}
#main-section img{
  margin:10px auto;
  margin-top: -18px;
  margin-left: -5px;
  width: 240px;
  background: center center/cover;
  border-radius: 10px;
}